<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mct_rd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <mct_rd.Properties.Settings>
            <setting name="dosyaUzanti" serializeAs="String">
                <value />
            </setting>
            <setting name="dosyaTuru" serializeAs="String">
                <value />
            </setting>
            <setting name="dosyaDizin" serializeAs="String">
                <value />
            </setting>
            <setting name="dosyaKodlama" serializeAs="String">
                <value />
            </setting>
            <setting name="dosyaOlusturulmaTarih" serializeAs="String">
                <value />
            </setting>
            <setting name="dosyaDegistirilmeTarih" serializeAs="String">
                <value />
            </setting>
            <setting name="dosyaOlusturulmaSaat" serializeAs="String">
                <value />
            </setting>
            <setting name="dosyaDegistirilmeSaat" serializeAs="String">
                <value />
            </setting>
            <setting name="dosyaKarakterSayi" serializeAs="String">
                <value />
            </setting>
            <setting name="dosyaSatirSayi" serializeAs="String">
                <value />
            </setting>
            <setting name="dosyaAdi" serializeAs="String">
                <value />
            </setting>
        </mct_rd.Properties.Settings>
    </userSettings>
</configuration>